<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>result</title>
  </head>
  <body>
    <% if (locals.name) { %>
    <h1>Your name contains <%= name.length %> letters</h1>
    <% } else { %>
    <p>Enter valid name</p>
    <% } %>
  </body>
</html>
